* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.anska {
    background-color:#000;
}

.anska p, .anska p.pages-p{
    scroll-behavior: smooth;
    font-family: 'Red Hat Display', sans-serif;
}

.anska a, .anska a:visited, .anska a:hover {
    color: #fff;
}

.anska a:hover {
    text-decoration: none;
}
.anska .container-fluid {
    padding-left: 5em;
    padding-right: 5em;
}

.anska p,
.anska .row {
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
}
.anska b {
    font-weight: 700;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.hide-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.custom-slide  {
    height:100vh;
    width:100vw;
    position:relative;
}

.custom-wrapper {
    display:flex;
    width:2500vw;
    transform:rotate(90deg) translateY(-100vh);
    transform-origin:top left;
    background-color:#000;
}
.custom-navbar img {
    height: 30px;
    width: auto;
}
.custom-container{
    height:100vw;
    width:100vh;
    transform:rotate(-90deg) translateX(-100vh);
    transform-origin:top left;
    position:absolute;
    overflow-x:hidden;
    overflow-y:scroll;
}

.sources-container {
    height: 100vh;
}

.sources-container .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.custom-layer {
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
}
.anska b {
    font-weight: 800;
}
.anska h1 {
    font-family: 'Kaisei Opti', serif;
}

.anska h2 {
    font-size: 3em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.anska h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 2.2em;
}

.anska h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 0;
}

.anska .custom-wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anska .hero-slide {
    background-image: url('/img/hero/background.png');
    background-size: cover;
    background-position: center center;
}
.anska .hero-slide .hero-title h1 img{
    height: 160px;
    width: auto;
}
.custom-navbar {
    padding-top: 3em;
}
.anska .custom-layer {
    position:absolute;
    top:0;
    left:10em;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
}
.anska .layer-1{
    left:90vw;
    background-image: url('/img/hero/rock.png');
    position:absolute;
    top:0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
    z-index: 23;
}

.anska .layer-2{
    z-index:1;
    background-image: url('/img/hero/rocks.png');
    background-size: contain;
    background-repeat: no-repeat;
    /*  -------------------------------  */
    position:absolute;
    top:0;
    left:10em;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
}

.anska .custom-wrapper .hero-slide .hero-sound-line i {
    margin-right: 8px;
}
.anska .hero-introduction p,
.anska .custom-wrapper .hero-slide .hero-sound-line {
    font-weight: 600;
}
.anska .custom-wrapper .hero-slide .hero-introduction {
    max-height: 180px;
}

.anska .custom-wrapper .hero-slide .hero-sound-line {
    margin-bottom: 3em;
}

.anska .custom-wrapper .conclusion-slide .row .nav-arrow,
.anska .custom-wrapper .hero-slide .row .nav-arrow {
    position: relative;
    display: flex;
    justify-content: center;
    top: -3em;
    z-index:24;
}

.anska .custom-wrapper .hero-slide .nav-arrow p {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: end;
    position: relative;
    top: -6.1em;
    left: 48px;
}
.anska .custom-wrapper .introduction {
    width: 45%;
    z-index: 26;
}
.anska .custom-wrapper .introduction .row {
    display: flex;
    align-items: center;
}


.anska .custom-wrapper .custom-slide .title-row h2 {
    font-size:15em;
    text-transform: uppercase;
}
.anska .custom-wrapper .custom-slide .place-row h3 {
    font-size:3em;
    text-transform: uppercase;
}

.anska .custom-wrapper .hero-slide .row {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.anska .custom-wrapper .hero-slide .row .hero-title h1 {
    font-size: 10em;
}

.anska .custom-wrapper .custom-slide {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}

.anska .custom-wrapper .custom-slide .place-row {
    margin: 5em 0;
    height: 8em;
}

.anska .custom-wrapper .custom-slide .place-row.mt-15 {
    margin: 19em 0 -14em 0;
}

.anska .custom-wrapper .custom-slide .content-row {
    display: flex;
    height: fit-content;
}
.anska .custom-wrapper .custom-slide .row.title-row .day-row {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align:center;
}

.anska .custom-wrapper .custom-slide .row.title-row .day-row .h2 {
    width: 13em;
}

.anska .custom-wrapper .custom-slide .row.title-row .day-row{
    width: 100%;
}

.anska .custom-wrapper .custom-slide .row .day-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.anska .custom-wrapper .custom-slide .row .block-left,
.anska .custom-wrapper .custom-slide .row .block-right {
    height: calc(100vh - 18em);
}

.anska .custom-wrapper .custom-slide .row .block-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
.anska .custom-wrapper .custom-slide .row .block-right {
    display:flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.anska .custom-wrapper .custom-slide .pages {
    width: 500px;
    position: relative;
}

.anska .custom-wrapper .custom-slide.day-one {
    z-index:22;
    background-image: url('/img/day_one/background.png');
    padding-left: 25em;
    padding-right: 25em;
}

.anska .custom-wrapper .custom-slide.day-one .row.title-row .day-row h2{
    z-index: 30;
}

.anska .custom-wrapper .custom-slide.day-one .block-right p {
    position: relative;
    top: 5em;
}
.anska .custom-wrapper .custom-slide.day-one .block-left p {
    position: relative;
    top: -5em;
}


.anska .custom-wrapper .custom-slide.day-two {
    z-index:21;
    background-image: url('/img/day_two/background.png');
    padding-left: 25em;
    padding-right: 25em;
    margin-left: -10em;
}

.anska .custom-wrapper .custom-slide.day-two .pages.day-two-page {
    right:5em;
    bottom: -9em;
    transform: rotateZ(10deg);
}


.anska .custom-wrapper .custom-slide.day-two .block-left p.pages-p {
    position: relative;
    top: 5em;
}
.anska .custom-wrapper .custom-slide.day-three {
    z-index:20;
    background-image: url('/img/day_three/background.png');
    padding-left: 25em;
    margin-left: -25em;
}

.anska .custom-wrapper .custom-slide.day-three .mtop {
    margin-top: -10em;
}

.anska .custom-wrapper .custom-slide.day-three-bis {
    z-index:18;
    background-image: url('/img/day_three/background_bis.png');
    padding-left: 25em;
    padding-right: 25em;
    margin-left: -25em;
}

.anska .custom-wrapper .custom-slide.day-three-bis .block-left p.pages-p {
    position: relative;
    top: 25em;
}

.anska .custom-wrapper .custom-slide.day-three-bis .block-right p.pages-p {
    position: relative;
    bottom: -1em;
}

.anska .custom-wrapper .custom-slide.day-three-bis .pages.day-three-page {
    bottom: -28em;
    transform: rotateZ(7deg);
}

.anska .custom-wrapper .custom-slide.day-three-bis .pages.day-three-page-bis {
    top: -6em;
    transform: rotateZ(-7deg);
    right: 20em;
}

.anska .custom-wrapper .custom-slide.day-four {
    z-index:19;
    background-image: url('/img/day_four/background.png');
    padding-left: 25em;
    padding-right: 35em;
    margin-left: -25em;
}

.anska .custom-wrapper .custom-slide.day-four .pages.day-four-page {
    width: 100%;
    transform: rotateZ(20deg);
}

.anska .custom-wrapper .custom-slide.day-five {
    z-index:20;
    background-image: url('/img/day_five/background.png');
    padding-left: 25em;
    margin-left: -35em;
}
.anska .custom-wrapper .custom-slide.day-five .pages.day-five-page {
    bottom: -12em;
    transform: rotateZ(7deg);
}
.anska .custom-wrapper .custom-slide.day-five .block-right p.pages-p {
    position: relative;
    top: 10em;
}
.anska .custom-wrapper .custom-slide.day-six {
    z-index:15;
    background-image: url('/img/day_six/background.png');
    padding-left: 45em;
    margin-left: -45em;
}

.anska .custom-wrapper .custom-slide.day-six .block-right p.pages-p {
    position: relative;
    top: 8em;
    right: 5em;
}

.anska .custom-wrapper .custom-slide.day-seven {
    z-index:15;
    background-image: url('/img/day_seven/background.png');
    padding-left: 25em;
    padding-right: 10em;
    margin-left: -22em;
}

.anska .custom-wrapper .custom-slide.day-seven .pages.day-seven-page {
    bottom: 20em;
    transform: rotateZ(-7deg);
    right: 10em;
}
.anska .custom-wrapper .custom-slide.day-seven .block-right p.pages-p {
    position: relative;
    bottom: 15em;
}

.anska .custom-wrapper .custom-slide.day-nine {
    z-index:17;
    background-image: url('/img/day_nine/background.png');
    padding-left: 25em;
    margin-left: -15em;
    padding-right: 15em;
}
.anska .custom-wrapper .custom-slide.day-nine .block-left p {
    /*margin-bottom: 12em;*/
}
.anska .custom-wrapper .custom-slide.day-nine-bis {
    z-index:18;
    background: url('/img/day_nine/background_bis.png');
    padding-left: 25em;
    margin-left: -35em;
    padding-right: 50em;
}
.anska .custom-wrapper .custom-slide.day-nine-bis .block-right {
    margin-top: 24em;
}

.anska .custom-wrapper .custom-slide.day-nine-bis .block-left {
    margin-top: 12em;
}

.anska .custom-wrapper .custom-slide.day-eleven {
    z-index:12;
    background-image: url('/img/day_eleven/background.png');
    padding-right: 50em;
    padding-left: 50em;
    margin-left:-50em;
}
.anska .custom-wrapper .custom-slide.day-eleven .pages.day-eleven-page {
    bottom: -16em;
    transform: rotateZ(10deg);
    right: 5em;
}
.anska .custom-wrapper .custom-slide.day-eleven .block-left p.pages-p {
    position: relative;
    bottom: -10em;
}
.anska .custom-wrapper .custom-slide.day-fifteen{
    z-index:11;
    background-image: url('/img/day_fifteen/background.png');
    padding-left: 50em;
    margin-left: -55em;
    padding-right: 50em;

}

.anska .custom-wrapper .custom-slide.day-fifteen .pages.day-fifteen-page {
    top: -8em;
    transform: rotateZ(-10deg);
}

.anska .custom-wrapper .custom-slide.day-fifteen .block-left p.pages-p {
    position: relative;
    top:-5em;
}

.anska .custom-wrapper .custom-slide.day-twentyone{
    background-image: url('/img/day_twentyone/background.png');
    margin-left: -40em;
    padding-left: 55em;
    z-index:10;
    background-position: left center;
}

.anska .custom-wrapper .custom-slide.day-twentytwo {
    z-index:9;
    background-image: url('/img/day_twentytwo/background.png');
}
.anska .custom-wrapper .custom-slide.day-twentytwo .block-left {
    margin-top: -6em;
}
.anska .custom-wrapper .custom-slide.day-twentytwo-bis{
    background-image: url('/img/day_twentytwo/background_bis.png');
    z-index:8;
}
.anska .custom-wrapper .custom-slide.day-twentytwo-bis .block-left {
    margin-top: 15em;
}
.anska .custom-wrapper .custom-slide.day-twentytwo-bis .block-right {
    margin-top: 5em;
}
.anska .custom-wrapper .custom-slide.day-twentytwo-bis .row .block-right {
    align-items: center;
}
.logo-link {
    margin-top: 20em;
}
.anska .custom-wrapper .gif-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.anska .custom-wrapper .gif-slide .gif-content {
    min-height: 800px;
    min-width: 900px;
    width: 100%;
}

.anska .custom-wrapper .conclusion-slide {
    z-index:7;
    display: flex;
    align-items: center;
}
.anska .custom-wrapper .conclusion-slide .conclusion-content {
    text-align: center;
}
.anska .custom-wrapper .conclusion-slide .conclusion-content p{
    margin-bottom: 8em;
}
.anska .map-container {
    padding: 2em 5em 10em 5em;
}

.legende-carte {
    list-style: none;
    margin-top: 1em;
}
.legende .icon-legende {
    margin-right: 8px;
    height: 32px;
    width: 32px;
}

.anska .map-container .temp-row {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 5em;
}
.anska .map-container .range-row {
    height: 10%;
    width: 100%;
}
.anska .map-container .range-row .range-col {
    margin-top: 1.2em;
}
.anska .map-container .range-row .range-col .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.anska .map-container .label-row {
    margin-top: 1em;
    text-align: center;
}

.anska .temp-map {
    height: 100%;
    width: 100%;
}

.anska .anska-logo-container .logo-row .logo {
    min-height: 700px;
    min-width: 700px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.anska .logos-container {
    width: 100vw;
    height: 100vh;
}
.anska .logos-container .logos-row {
    height: 100%;
    width: 100vw;
}
.anska .logos-container .logos-row .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logo-conclusion {
    width: 60px;
}
/*------------- SOURCES -------------*/



/*------------- RESPONSIVE -------------*/

@media (min-width: 1920px) {
    .anska .custom-wrapper .custom-slide .row .block-left,
    .anska .custom-wrapper .custom-slide .row .block-right {
        max-width: 70%;
        padding-left: 3em;
        padding-right: 3em;
        display: flex;
        flex-direction: column;
    }
    .anska .custom-wrapper .custom-slide .day-row h2 {
        font-size:10em;
    }
    .anska .map-container .temp-row {
        height: 90%;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-left: 10em;
    }
}

@media (max-width: 1728px) {
    .anska .custom-wrapper .custom-slide .title-row h2 {
        font-size:8em;
    }
}

@media (max-width: 1440px) {

    .anska .custom-wrapper .custom-slide .block-right,
    .anska .custom-wrapper .custom-slide .block-left{
        padding: 0 75px;
    }
    .anska .custom-wrapper .custom-slide .title-row h2 {
        font-size:10em;
    }
    .anska .custom-wrapper .custom-slide .place-row.mt-15 {
        margin: 10em 0 -6em 0;
    }
    .anska .custom-wrapper .custom-slide.day-nine-bis {
        padding-right: 20em;
    }
    .anska .custom-wrapper .custom-slide.day-nine-bis {
        padding-right:30em;
    }
}
